
.breadcrumb {
    &-container {
        margin-bottom: 2px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        white-space: nowrap;

    }
    
    &-item {
        color: #333;
         .breadcrumb-link {
            margin-right: 12px;
            font-weight: 300;
        }
        &:first-child {
            .breadcrumb-link {
                margin-left: -10px;
                margin-right: 8px;
            }
        }

        &:last-child {
            color: #5F7C6A;
            .breadcrumb-link::before {
                content: none;
            }
        }
    }
    &-link {
    position: relative;
    display: inline-block;
    padding: 15px 10px 10px;

        &::before {
            content: "/";
            position: absolute;
            right: -5px;
            color: #A8A8A8;
        }
    }
}


// introduce
.intro-primary {
    &__content {
        .article {
            &-img {
                padding-bottom: 50px;
                &__inner {
                    border-top-right-radius: 50px;
                    border-bottom-left-radius: 50px;
                    overflow: hidden;
                }
            }
            &-content {
                padding: 50px 50px 50px 100px;
                margin-left: -50px;
                margin-top: 50px;
                max-height: 555px;
                overflow: auto;
            }
        }
    }
}

.intro-secondary {
    &__content {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #d9d9d9;
        padding: 80px 50px;
    }
}
// cate

.block-primary {
    display: flex;
    &__left {
        max-width: calc(100% - 330px);
        width: 100%;
    }

    &__right {
        max-width: 300px;
        width: 100%;
        position: relative;
    }
}


// donate
.dot-span {
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        background-color: #5F7C6A;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    &--medium {
        &::before {
            width: 6px;
            height: 6px;
        }
    }

    &--black {
        &::before {
            background-color: #000;
        }
    }
}

.donate-primary {
    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        user-select: none;
        img {
            max-width: 358px;
            width: 100%;
            height: auto;
        }
    }
}
.donate-tertiary {
    &__bg {
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
        user-select: none;
        img {
            max-width: 358px;
            width: 100%;
            height: auto;
        }
    }
}

// share
.category-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 999px;
    padding: 10px 35px;
    margin: 5px 10px;

    &.active {
        background-color: #5F7C6A;
        color: #fff;

        &:hover {
           background-color: #5F7C6A;
            color: #fff; 
        }
    }
    &:hover {
        background-color: #E0EBE4;
    }
}

.share-secondary {
    &__content {
        .article-top {
            .article-large {
                .article-img {
                    position: relative;
                }
                .article-category {
                    font-size: 14px;
                    padding: 6px 15px;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: #F7F6F2;
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                }
            }

            .article-smalls {
                .article-img {
                    position: relative;
                }
                .article-category {
                    font-size: 12px;
                    padding: 6px 15px;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: #F7F6F2;
                    position: absolute;
                    bottom: 12px;
                    left: 12px;
                }
            }
        }
        .article-bot {
            .article-img {
                position: relative;
            }
            .article-category {
                font-size: 14px;
                padding: 6px 15px;
                border-radius: 5px;
                overflow: hidden;
                background-color: #F7F6F2;
                position: absolute;
                bottom: 12px;
                left: 12px;
            }
        }
    }
}

.pagination {
    flex-wrap: wrap;
    &-item {
        margin: 4px;
       
        &.active {
            .pagination-link {
                background-color: #5F7C6A;
                color: #fff;
            }
            &.next,
            &.prev {
                .pagination-link {
                    background-color: #E0EBE4;
                    color: #666;
                }
            }
        }
        &.next,
        &.prev {
            .pagination-link {
                &:hover{
                    background-color: #E0EBE4;
                    color: #666;
                }
            }
        }
    }
    &-link {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #E9E9E9;
        background-color: #E9E9E9;
        transition: all 0.2s;
        color: #666;

        &:hover {
            background-color: #5F7C6A;
            color: #fff;
        }
    }
}


// partner
.partner-primary {

    &__content {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 40px;
        gap: 40px;
        flex-wrap: wrap;


        .article-img {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                max-height: 80px;
                height: auto;
                object-fit: contain;
                filter: invert(51%) sepia(8%) saturate(1210%) hue-rotate(94deg) brightness(94%) contrast(85%);
            }
        }
    }
    
}

// phat nguoi
.phat-nguoi-primary {
    background-color: #f0f0f0;
    &__content {
        
        .top-list {
            background-color: #f0f0f0;
        }
        .top-item {
            width: 50%;
            border-bottom: 1px solid #eee;
            border-radius: 10px 10px 0 0;
            background-color: #f0f0f0;
            color: #6c757d;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            padding: 12px 16px;
            align-items: center;

            &.active {
                background-color: #fff;
                color: #000;
            }
        }

        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;

            .material-textfield.select-wrapper {
                flex: inherit;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

        }

        .hero-csgt {
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px 10px 0 0
}

.hero-csgt span {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
}

.clear-button {
    position: absolute;
    right: 8px;
    top: 50%;
    border-radius: 2.5px;
    padding: 3px 16px;
    cursor: pointer;
    background: #555;
    color: #fff;
    border: none;
    transform: translate(0,-50%);
    font-size: 14px;
    font-weight: 500
}

.verify-captcha {
    padding: 1px 8px;
    margin-bottom: 1rem;
    border: 1px solid #ffecb5;
    border-radius: .25rem;
    background-color: #eee5c8;
    color: #664d03;
    display: inline-block
}

.verify-captcha.captcha-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7
}

.verify-captcha.captcha-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc
}

.turnstile-wrapper {
    height: 71px;
    margin-bottom: 10px
}

.submit-wrapper {
    position: relative
}

.tem-text {
    margin-bottom: 16px
}

.select-xe {
    gap: 24px;
    margin-bottom: .8rem
}

.select-xe .form-check {
    display: flex;
    gap: 8px
}

.bsxcsgt {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.form-check-label {
    display: flex;
    align-items: center;
    gap: 4px
}

.material-textfield {
    position: relative
}

.material-textfield input,.material-textfield select {
    outline: 0;
    transition: .1s ease-out
}

.dangkiem .material-textfield input {
    outline: 0;
    transition: .1s ease-out;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.material-textfield input,.material-textfield select {
    padding: .5rem 12px
}

.input-group .material-textfield.select-wrapper {
    flex: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group .material-textfield.select-wrapper select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

        .material-textfield label {
            position: absolute;
            font-size: 14px;
            line-height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            color: #6c757d;
            padding: 0 .3rem;
            margin: 0 .7rem;
            transition: .1s ease-out;
            transform-origin: left top;
            pointer-events: none
        }

        .form-control:focus,.form-select:focus {
            border-color: #e91e63;
            box-shadow: 0 0 0 .25rem rgba(233,30,99,.25)
        }

        .material-textfield input:focus+label {
            color: #e91e63;
            top: 0;
            transform: translateY(-50%) scale(.9)
        }

        .material-textfield label {
            top: 0;
            transform: translateY(-50%) scale(.9)
        }

        .input-group .material-textfield {
            flex: 3
        }
        .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
        .form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url('../images/svg/arrow-down-gray-2.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

        .bsxcsgt {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .alert {
            position: relative;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        .alert-danger {
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
        }


        .alert.alert-finished {
            border: 2px solid #badbcc;
            background: #d1e7dd;
            border-radius: 10px
        }
        .alert-success {
            color: #0f5132;
            background-color: #d1e7dd;
            border-color: #badbcc;
        }
        .alert.alert-success {
            border: 2px solid #badbcc;
            border-radius: 10px
        }
        .btn.btn-primary {
            padding: .5rem;
        }
        .btn-primary {
            color: #fff;
            border-color: rgb(247 68 129);
            border-radius: 8px;
            background: #ea1e63;
            border-color: rgb(247 68 129);
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            width: 100%;

            &:hover {
                color: #fff;
                background-color: rgb(204 8 75);
                border-color: rgb(238 45 111);
            }
        }

        .alert-heading {
            font-weight: 600;
            margin-bottom: 16px;
            color: inherit;
            line-height: 1.5;
        }
        .bks {
            color: #000;
            padding: 4px 6px;
            border: 1px solid #000;
            border-radius: 4px;
            background-color: #fff;
        }
        .update-info {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 4px
}

.update-info .date {
    font-weight: 500;
    color: #000
}
.btn.btn-outline-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 600;
    line-height: 24px;
    color: #ea1e63;
    border-color: #ea1e63;
    width: 100%;

    &:hover {
        color: #fff;
        background-color: #ea1e63;
        border-color: #ea1e63;
    }
}
.btn-outline-primary {
    
}


        
        
    }

    &__top {
        background-color: #fff;
        box-shadow: 0 48px 80px -32px rgba(0, 0, 0, .3);
        border-radius: 10px;
        overflow: hidden;
    }
}