
.pane-item {
    display: none;
    
    &.active {
        display: block;
    }
}
.bookmark {
    cursor: pointer;
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border: 1px solid #5F7C6A;
        border-radius: 999px;

        &:hover {
            background-color: #ededed;
        }
        img {
            height: 16px;
            width: auto;
        }
    }
}
.social-secondary {
    flex-wrap: wrap;
    .social {
        flex-wrap: wrap;
        &-item {
            margin: 4px 4px 4px 0;

            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            width: 34px;
            height: 34px;
            background-color: #fff;
            border: 1px solid #5F7C6A;
            border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #ededed;
            }
            img {
                height: 16px;
                width: auto;
            }
        }
    }


}
.detail-primary {
    &__container {}
    &__left {
        max-width: calc(100% - 330px);
        width: 100%;

    }
    &__right {
        max-width: 300px;
        width: 100%;
        position: relative;

    }
}
// share list
.share-detail {
    &__container {
      position: sticky;
      top: 40%;
    }
    &__list {
      padding: 8px;
      background-color: #f6f3f4;
      border-radius: 999px;
    }
    &__item {
        margin-bottom: 10px;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
        &--bookmark {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #CECECE;
        }
    }
    &__link {
      width: 33px;
      height: 33px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }
    
    
}

// detail action
.detail-action {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 30px;
  padding-bottom: 20px;

  .time {
      padding-left: 15px;
      position: relative;

      &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #666;
          border-radius: 999px;
      }
  }
}

.detail-author {
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.detail-title {
    
}
.detail-sapo {
    font-size: 17px !important;
    p {
        font-size: 17px !important;
        line-height: 150%;
        font-weight: 600 !important;
    }
}


.detail-content {
    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
            border-radius: 5px;
        }
    }
    & figure figcaption {
        background: #fff;
        padding: 10px 0;
        font-size: 12px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        color: #333;
        font-weight: 300;
        text-align: left;
        // font-style: italic;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & figure h2,
    figure h3,
    figure h4,
    figure h5,
    figure h6,
    figure p {
        font-weight: normal !important;
        font-size: 16px !important;
        margin: 0 auto;
        line-height: 1.3 !important;
        color: #333;
        // font-weight: 300;
        font-family: "Verdana", sans-serif;
        text-align: center;
    }

    & p a {
        color: #5F7C6A;
        // font-style: italic;
        text-decoration: underline;
        
        &:hover {
            text-decoration: underline;
        }
    }
    & strong {
        font-weight: bold;
    }
    & em {
        font-style: italic;
    }
    & p,
    & li {
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 160%;
        word-break: break-word;
        color: #222;
        font-family: "Verdana", sans-serif;
        font-weight: 300;
        

    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }
    &  h2,
    &  h3,
    &  h4,
    &  h5,
    &  h6 {
        font-weight: 600;
        margin-bottom: 15px;
        font-family: "Verdana", sans-serif;
        color: #333;
    }
    &  h2 {
        font-size: 24px;
    }
    &  h3 {
        font-size: 22px;
    }
    &  h4 {
        font-size: 20px;
    }
    &  h5 {
        font-size: 18px;
    }
    &  h6 {
        font-size: 16px;
    }

    & blockquote {
        background: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        z-index: 5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        color: #333;

        & p {
            color: #333;
            font-size: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2,h3,h4,h5,h6 {
            color: #333;
        }

        a {
            color: #5F7C6A;
        }
    }

    table {
        width: 100%;
        margin: 20px 0;
        background: #fff;
        overflow: hidden;
        // border: 1px solid;
        tr {
            border-bottom: 1px solid;
        }
        th {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            strong {
                color: #5F7C6A;
            }
        }
        td {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            text-align: center;
            strong {
                color: #5F7C6A;
            }
        }
    }

}

.detail-tags {
    .tags-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .tag-link {
        display: inline-block;
        padding: 12px 20px;
        background-color: #f4f7f5;
        font-size: 14px;
        color: #333;
        border-radius: 999px;
        overflow: hidden;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

// print
.print-box {
    .detail-content {
        padding-left: 0;

        p {
            text-align: justify;
            word-break: break-word;
        }
    }
    .print-btn {
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: #9b9b9b;

        &:hover {
            background-color: #555;
        }
    }
}
.logo-print {
    img {
        width: 230px;
        height: auto;
    }
}

@media print {
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin-left: 20mm;
        visibility: hidden;
    }
    .print-box__container {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        width: calc(100% - 20mm);
        max-width: 100%;
        page-break-inside: avoid;
        overflow: visible;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .print-btn {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .detail-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .detail-content, .expNoEdit, .expEdit {
        page-break-inside: avoid;
    }
    h1, h2, p, figure {
        page-break-inside: avoid;
    }

}


// detail document
.detail-document-primary {
    &__content {
        .line {
            width: 100%;
            max-width: 170px;
            height: 2px;
            background-color: #CECECE;
            margin: 30px auto;
        }
        
        .detail-intro {
            text-align: center;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        .detail-index {
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &__title {
                font-size: 20px !important;
                text-transform: uppercase;
            }

            &__item {
                font-size: 17px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-bottom: 10px;
                flex-wrap: wrap;
                .text {
                    display: inline-block;
                    // flex-shrink: 0;
                }
                .dot {
                    flex: 1;
                    border-bottom: 1px dotted #333;
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .number {
                    display: block;
                    flex-shrink: 0;
                }
            }
        }

        &.detail-content {
            h2 {
                font-size: 36px;
                font-weight: 400;
                font-family: "Helvetica-neue", sans-serif;
            }
            h3,h4,h5,h6 {
                font-size: 17px;
                font-weight: 400;
                font-family: "Helvetica-neue", sans-serif;
            }
        }

        .block-children {
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 30px;
            margin-bottom: 30px;
            h2,h3,h4,h5,h6 {
                font-size: 20px;
            }
        }
    }
}