#back-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 50px;
    height: 50px;
    background: #5F7C6A;
    border-radius: 2px;
    // border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    z-index: 1000;

    img {
        width: 16px;
        height: auto;
    }
}


.footer-primary {
    &__logo {
        img {
            height: 54px;
            width: auto;
        }
    }

    
    &__social {
        flex-wrap: wrap;
        gap: 15px 40px;
        grid-gap: 15px 40px;
    }
}

