// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }

    .border-2xl-10 {
        border-radius: 10px;
    }
    .border-2xl-15 {
        border-radius: 15px;
    }
    .border-2xl-20 {
        border-radius: 20px;
    }
    .border-2xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header


    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail
   
    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .w-xl-700 {
        max-width: 700px;
        margin: auto;
    }

    .border-xl-10 {
        border-radius: 10px;
    }
    .border-xl-15 {
        border-radius: 15px;
    }
    .border-xl-20 {
        border-radius: 20px;
    }
    .border-xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index


    // --------------------------------------------------------------------cate
   
    // --------------------------------------------------------------------detail
    

    // --------------------------------------------------------------------footer
   
 
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .w-lg-full {
        width: 100%;
        max-width: 100%;
    }
    .w-lg-700 {
        max-width: 700px;
        margin: auto;
    }
    .w-lg-500 {
        max-width: 500px;
        margin: auto;
    }
    .w-lg-40 {
        width: 40%;
    }
    .py-lg-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pl-lg-50 {
        padding-left: 50px;
    }
    .mt-lg-20 {
        margin-top: 20px;
    }
    .mt-lg-30 {
        margin-top: 30px;
    }
    .mt-lg-40 {
        margin-top: 40px;
    }

    .col-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .border-lg-10 {
        border-radius: 10px;
    }
    .border-lg-15 {
        border-radius: 15px;
    }
    .border-lg-20 {
        border-radius: 20px;
    }
    .border-lg-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // -------------------------------------------------------------------- index

    .heading-title-primary {
        font-size: 40px;
    }
    .heading-title-secondary {
        font-size: 36px;
    }
    .section-primary {
        &__title {
            font-size: 64px;
        }
    }


    // --------------------------------------------------------------------cate
    .intro-primary {
        &__content {
            .article-content {
                max-height: 450px;
            }
        }
    }
    .intro-secondary {
        &__content {
            padding: 40px 20px;
        }
    }
    
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-full {
        max-width: 100%;
        width: 100%;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .col-md-1 {
        grid-template-columns: 1fr;
    }
    .col-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .items-md-center {
        align-items: center;
    }
    .fs-md-14 {
        font-size: 14px;
    }
    .fs-md-15 {
        font-size: 15px;
    }
    .fs-md-17 {
        font-size: 17px;
    }
    .fs-md-18 {
        font-size: 18px;
    }
    .fs-md-20 {
        font-size: 20px;
    }
    .fs-md-22 {
        font-size: 22px;
    }
    .fs-md-24 {
        font-size: 24px;
    }
    .gap-md-10 {
        grid-gap: 0.625rem;
        gap: 0.625rem;
    }
    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .mt-md-0 {
        margin-top: 0;
    }
    .mt-md-10 {
        margin-top: 10px;
    }
    .mt-md-20 {
        margin-top: 20px;
    }
    .mb-md-20 {
        margin-bottom: 20px;
    }
    .pt-md-0 {
        padding-top: 0;
    }
    .pb-md-0 {
        padding-bottom: 0;
    }
    .pl-md-0 {
        padding-left: 0;
    }
    .pl-md-12 {
        padding-left: 12px;
    }
    .p-md-15 {
        padding: 15px;
    }
    .p-md-20 {
        padding: 20px;
    }
    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pt-md-30 {
        padding-top: 30px;
    }
    .mt-md-30 {
        margin-top: 30px;
    }
    .py-md-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pt-md-40 {
        padding-top: 40px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }
 
    .border-md-10 {
        border-radius: 10px;
    }
    .border-md-15 {
        border-radius: 15px;
    }
    .border-md-20 {
        border-radius: 20px;
    }
    .border-md-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header
   
    // --------------------------------------------------------------------index
    .arrow-slide-primary {
       .swiper-button-next, 
       .swiper-button-prev {
           width: 36px;
           height: 36px;
       }
      
    }

    .heading-title-primary {
        font-size: 32px;
    }
    .heading-title-secondary {
        font-size: 28px;
    }

    .author-primary,
    .author-secondary,
    .author-tertiary,
    .author-quinary {
        margin-top: 12px;
        flex-direction: row;
        .author-img {
            width: 39px;
            height: 39px;
        }
        .author-name {
            text-align: left;
            padding-left: 10px;
        }
    }
  
    .author-quaternary {
        margin-top: 12px;
        flex-direction: row;
        .author-img {
            width: 60px;
            height: 60px;
        }
        .author-name {
            text-align: left;
            padding-left: 10px;
        }
    }

    .section-primary {
        &__title {
            font-size: 46px;
        }
        &__sapo {
            font-size: 24px;
        }

        &__des {
            font-size: 18px;
        }
    }

    .section-tertiary {
        .article-list {
            .article {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .article-img {
                flex-shrink: 0;
                width: 88px;
                height: 88px;
                padding: 24px;
            }
            .article-content {
                flex: 1;
            }
        }
    }

    .section-quaternary {
        &__slide {
            .article-content {
                padding: 15px;
            }
        }
    }

    .section-quinary {
        &__content {
            .article {
                padding: 40px;
            }
            .article-btn {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .section-senary {
        .article-large {
            .article-content {
                flex-direction: column;
                grid-gap: 0;
                gap: 0;
                padding: 15px;
            }
            .article-info {
                order: 1;
            }
            .author-tertiary {
                order: 2;
            }
        }

        .article-smalls {
            .article {
                border-bottom: 1px solid #d9d9d9;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
        
    }

    // --------------------------------------------------------------------cate
    .block-primary {
        display: block;
        &__left {
            max-width: 100%;
            width: 100%;
            margin-bottom: 40px;
        }

        &__right {
            max-width: 100%;
            width: 100%;
        }
    }

    .intro-primary {
        &__content {
            .article-img {
                padding-bottom: 0;
                &__inner {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            .article-content {
                max-height: unset;
                margin: 0;
                padding: 20px;
            }
        }
    }
    .intro-secondary {
        &__content {
            padding: 40px 20px;
        }
    }

    .cate-primary {
        &__left {
            .article-large {
                .article-content {
                    flex-direction: column;
                    grid-gap: 0;
                    gap: 0;
                    padding: 15px;
                }
                .article-info {
                    order: 1;
                }
                .author-secondary {
                    order: 2;
                }
            }

            .article-smalls {
                grid-template-columns: 1fr;
            }
        }
    }

    .cate-secondary {
        &__content {
            .article {
                padding: 20px;
            }
            .article-content {
                flex-direction: column;
                grid-gap: 0;
                gap: 0;
            }
            .article-info {
                order: 1;
            }
            .author-tertiary {
                order: 2;
            }
        }
    }


    

    // --------------------------------------------------------------------detail

    .detail-tags {
         .tags-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
         }
    }
    .detail-title {
        font-size: 30px;
    }


    .detail-primary {
        &__container {
            padding-top: 10px;
        }
        &__inner {
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
        &__left {
            max-width: 100%;
            width: 100%;
            // margin-bottom: 40px;
        }

        &__right {
            max-width: 100%;
            width: 100%;
        }
    }

    .detail-document-primary {
        &__content {
            &.detail-content h2 {
                font-size: 28px;
            }
        }
    }

    
    // --------------------------------------------------------------------footer
    #back-top {
        width: 40px;
        height: 40px;
        right: 30px;

        img {
            width: 12px;
        }
    }

}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline-flex {
        display: inline-flex;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .w-sm-95px {
        width: 95px;
    }
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .mt-sm-0 {
        margin-top: 0;
    }
    .pt-sm-50 {
        padding-top: 50px;
    }
    .pb-sm-50 {
        padding-bottom: 50px;
    }

    .border-sm-5 {
        border-radius: 5px;
    }
    .border-sm-10 {
        border-radius: 10px;
    }
    .border-sm-15 {
        border-radius: 15px;
    }
    .border-sm-20 {
        border-radius: 20px;
    }
    .border-sm-25 {
        border-radius: 25px;
    }
    .w-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn {
        padding: 10px 25px;
        font-size: 14px;
    }
    

    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    .arrow-slide-primary {
       .swiper-button-next,
       .swiper-rtl .swiper-button-prev {
            right: 10px;
        }
       .swiper-button-prev,
       .swiper-rtl .swiper-button-next {
            left: 10px;
        }
    }

    .heading-title-primary {
        font-size: 28px;
    }
    .heading-title-secondary {
        font-size: 28px;
    }
    .heading-des-primary {
        font-size: 15px;
    }

    .heading-primary {
        font-size: 20px;
    }
    .section-primary__des {
        font-size: 15px;
    }

    .section-primary {
        &__bg {
            width: 70%;
        }
        &__title {
            font-size: 48px;
        }
        &__sapo {
            font-size: 20px;
            margin-top: 30px;
        }
    }
    .section-secondary {
        &__content {
            .article {
                display: flex;
                flex-direction: column;

            }
            .article-content {
                padding-top: 20px;
                padding-bottom: 0;
            }
        }
    }
    .section-tertiary {
        .article-list {
            grid-gap: 20px 5px;
            gap: 20px 5px;
        }
        .article-title {
            font-size: 15px;
        }
    }

    .section-quinary {
        &__container {
            padding-top: 20px;
        }
        &__content {
            .article {
                padding: 30px 15px;
            }
            .article-content {
                padding-right: 0;
            }

            .article-quote-left {
               
                img {
                    width: 20px;
                }
            }
            .article-quote-right {
                img {
                    width: 20px;
                }
            }
        }
    }


   
    // --------------------------------------------------------------------cate
    .breadcrumb-container {
        padding-top: 0;
        padding-bottom: 0;

        .breadcrumb-item {
            font-size: 12px;
        }
    }
    .dot-span {
        padding-left: 15px;
    }
    .category-btn {
        font-size: 14px;
        padding: 10px 20px;
        margin: 5px 6px;
    }

    .cate-primary {
        &__container {
            padding-bottom: 0;
        }
        
    }

    .cate-secondary {
        .articles {
            margin-top: 0;
        }
    }

    .share-secondary {
        &__container {
            padding-top: 10px;
        }

        &__content {
            .article-category {
                font-size: 12px !important;
                left: 12px !important;
                bottom: 12px !important;
                padding: 4px 10px !important;
            }

            .article-smalls {
                .article {
                    padding: 20px 0;
                    border-top: 1px solid #d9d9d9;
                }
            }
            .article-bot {
                .article {
                    padding: 20px 0;
                    border-top: 1px solid #d9d9d9;
                    margin-bottom: 0;
                }
            }
        }
    }
    .partner-primary {
        &__content {
            grid-gap: 24px;
            gap: 24px;
             .article-img img {
                width: 100%;
                max-width: 100px;
                max-height: inherit;
                height: auto;
            }
        }
    }
    // --------------------------------------------------------------------detail
    p + p {
        margin-top: 20px;
    }

    .detail-title {
        font-size: 28px;
    }
    
    .detail-author {
        &__img {
            width: 34px;
            height: 34px;
        }
        &__name {
            font-size: 14px;
        }
    }

    .time {
        &-icon {
            img {
                width: 20px;
            }
        }
        &-text {
            font-size: 14px;
        }
    }
    .detail-action {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }


    .detail-sapo {
        p {
            font-size: 16px !important;
        }
    }
  
    .detail-content {

        & figure {
            margin-bottom: 15px;
            
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
            img {
                border-radius: 5px;
            }

            & h2,
            h3,
            h4,
            h5,
            h6,
            p {
                font-size: 12px !important;
            }
        }
        

        & p,
        & li {
            font-size: 15px;
            margin-bottom: 16px;
    
        }
        &  h2 {
            font-size: 20px;
        }
        &  h3 {
            font-size: 18px;
        }
        & h4 {
            font-size: 16px;
        }
        &  h5 {
            font-size: 16px;
        }
        & h6 {
            font-size: 16px;
        }

        
    
        & blockquote {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
    
            & p {
                font-size: 16px;
            }
        }
    }


    .detail-tags {
        .tag-link {
            padding: 10px 20px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

    .detail-document-primary {
        &__content {
            &.detail-content {
                h2 {
                    font-size: 24px;
                }
            }
        }
    }

 
    // --------------------------------------------------------------------footer
    #back-top {
        right: 20px;
    }
    .footer-primary {

        &__container {
            padding-bottom: 70px;
        }

        &__text {
            font-size: 16px;
        }

        &__contact {
            .contact-text {
                font-size: 15px;
            }
        }

        &__bot {
            margin-top: 20px;
            padding-top: 20px;
        }

        &__social {
            gap: 15px 20px;
            grid-gap: 15px 20px;
        }

        .menu-footer__item {
            font-size: 15px;
        }

    }



}


// max-width: 400px
@media (max-width:400px) {
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
   
}